body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color: white;
    background-color: black
}

.center {
    text-align: center;
    margin: auto;
}

.divclass {
    margin: auto;
}

.picture {
    margin: auto;
}

.body {
    margin: auto;
    height: auto;
    width: 70%;

}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
}

.width33 {
    width: 33%;
}

.pad {
    padding-left: 20px;
    padding-bottom: 5px;
}

h6 {
    color: white;
}